
<div class="row page-header">
	<div class="twelve columns">
		<div class="alert-box">
			You are currently creating a model in the English language.
			<a href="" class="close">&times;</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		<label for="modelName">What would you like to name the object?</label>
		<input type="text" id="modelName" />

		<a href="" class="nice small radius button blue">Create model</a> <a href="">Cancel</a>
	</div>
</div>