
<div class="row page-header">
	<div class="twelve columns">
		<div class="alert-box">
			You are currently creating a definition in the English language.
			<a href="" class="close">&times;</a>
		</div>
	</div>

	<div class="twelve columns">
		
	</div>
</div>