@{
	// Styles
	Assets.Stylesheets.Reference("Styles/core");
	Assets.Stylesheets.Reference("Styles/app");
	Assets.Stylesheets.Reference("Styles/lib");
	
	// Fonts
	Assets.Stylesheets.Reference("font-ptsans");
	Assets.Stylesheets.Reference("font-ubuntu");

	// Scripts
	Assets.Scripts.Reference("Scripts/app");
}

<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<!-- Included CSS Files -->
	@Assets.Stylesheets.Render()

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="topbar">
		<div  class="container">
			<div class="row">
				<div class="span16">
					<h1>
						<span class="hayman-logo-text">Hayman.</span> <span class="hayman-logo-highlight">Lighthouse</span>
					</h1>
				</div>
			</div>
		</div>
	</div>

	<div id="subbar">
		<div class="container">
			<div class="row">
				<div class="span16">
					<nav class="breadcrumb">
						<ul class="menu">
							<li class="item"><a href="">Dashboard</a></li>
							<li class="separator">/</li>
							<li class="item"><a href="">Discover</a></li>
							<li class="separator">/</li>
							<li class="item current">
								<a href="">Atos</a>
								<ul class="menu">
									<li class="item"><a href="">Avanade</a></li>
									<li class="item"><a href="">Cap Gemini</a></li>
									<li class="item"><a href="">Sogeti</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<!-- container -->
	<div class="container">
		@RenderBody()
	</div>
	<!-- container -->

	<!-- Included JS Files -->
	@Assets.Scripts.Render()

</body>
</html>
