@{
	Assets.Stylesheets.Reference("Styles/core/globals.css");
	Assets.Stylesheets.Reference("Styles/core/typography.css");
	Assets.Stylesheets.Reference("Styles/core/grid.css");
	Assets.Stylesheets.Reference("Styles/core/forms.css");
	Assets.Stylesheets.Reference("Styles/core/orbit.css");
	Assets.Stylesheets.Reference("Styles/core/reveal.css");
	Assets.Stylesheets.Reference("Styles/core/ui.css");
	Assets.Stylesheets.Reference("Styles/ie.css");
	Assets.Stylesheets.Reference("Styles/app.css");
}

<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<!-- Included CSS Files -->
	@Assets.Stylesheets.Render()

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="topbar" class="container">
		<div class="row">
			<div class="four columns">
				<h1>
					<span class="hayman-logo-text">Hayman.</span> <span class="hayman-logo-highlight">Lighthouse</span>
				</h1>
			</div>
			<div class="eight columns hide-on-phones">
				<strong class="right">
					<a href="">Features</a>
					<a href="">Case Studies</a>
					<a href="">Documentation</a>
					<a href="">Sign out</a>
					<a href="" class="small blue nice button">Download</a>
				</strong>
			</div>
		</div>
	</div>
	<!-- container -->
	<div class="container">
		@RenderBody()
	</div>
	<!-- container -->

	<!-- Included JS Files -->
	@Assets.Scripts.Render()

</body>
</html>
