@{
	// Styles
	Bundles.Reference("Styles/core");
	Bundles.Reference("Styles/app");
	Bundles.Reference("Styles/lib");
	
	// Fonts
	Bundles.Reference("font-ptsans");
	Bundles.Reference("font-ubuntu");

	// Scripts
	Bundles.Reference("Scripts/app");
	
	// Html Templates
	Bundles.Reference("HtmlTemplates");
}

<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<title>Hayman. Lighthouse</title>
	<!-- Included CSS Files -->
	@Bundles.RenderStylesheets()

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="topbar">
		<div  class="container">
			<div class="row">
				<div class="span16">
					<h1>
						<span class="hayman-logo-text">Hayman.</span> <span class="hayman-logo-highlight">Lighthouse</span>
					</h1>
				</div>
			</div>
		</div>
	</div>

	<div id="subbar">
		<div class="container">
			<div class="row">
				<div class="span16">
					<ul class="breadcrumb">
						<li><a href="#">Home</a> <span class="divider">/</span></li>
						<li><a href="#">Middle page</a> <span class="divider">/</span></li>
						<li><a href="#">Another one</a> <span class="divider">/</span></li>
						<li class="active">You are here</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- container -->
	<div class="container">
		@RenderBody()
	</div>
	<!-- container -->

	<footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>
          Designed and built with all the love in the world.
        </p>
      </div>
    </footer>

	<!-- Included JS Files -->
	@Bundles.RenderScripts()

	<!-- HTML Templates -->
	@Bundles.RenderHtmlTemplates()
</body>
</html>
